/* delete the following line if no text is used
edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);
  border-radius: 6px;
}

p {
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center > * + * {
  margin-top: -2px;
}

.number-container {
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-container > * + * {
  margin-left: -10px;
}

.number-1 {
  position: relative;
  width: 25px;
  height: 90px;
  z-index: 2;

  &::before {
    content: "";
    width: 45px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;

    position: absolute;
    top: 12px;
    left: -25px;
    transform: rotate(-45deg);
  }

  &::after {
    content: "";
    width: 25px;
    height: 95px;
    background-color: #fff;
    border-radius: 2px;

    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  }
}

.number-0 {
  width: 45px;
  height: 45px;
  border: 25px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &:last-child {
    z-index: 0;
  }
}

.title {
  width: 200px;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.subtitle {
  width: 200px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
